
html {
	background:black;
	color:white;
}

body {
	font-family: arial,sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
	margin: 0;
}

.header, .footer {
    height: 35px;
	text-align:right;
	padding-right: 30;
	padding: 10 10 10 10;
}

.footer {
	background-color:#222;
}

/* header and footer blocks links */

.block_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.block_list li {
    float: right;
}

.block_list .orient_left {
    float: left;
}

.block_list a {
	color:#ddd;
    display: inline-block;
    padding: 6px;
	margin-right:10;
	text-decoration: none;
}

.block_list a:hover {
	text-decoration: underline;
}

/*********************************/


.center_elements {
	flex: 1;
	margin:auto;
	display:block; 
	clear: both;
	width:35%;
	text-align:center; /* needed even for IMG to be perfectly aligned. ikr? */

}

#bsignin {
	color: #FFF;
	background-color: #0095ff;
	
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;

}

#img_squares {
	padding-top:4px;
	height: 15px;
	width: 15;
}

#logo{
	padding-top:100px;
	width:50%;
}

#search_box {
	content: "";
	width: 100%;
	padding: 10 10 10 10;
	margin-top:20px;
	
	box-shadow: 0px 0px 10px 3px rgba(255,255,0,1);
}

.center_elements input[type="button"] { /* instead of giving class to each button, i wrap it in div and access the buttons from there */
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}


